<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/6e816b82-294e-4fbb-8f67-57fdda78d2c3/resourceGroups/formai-rg/providers/Microsoft.ContainerRegistry/registries/formaicr</ResourceId>
    <ResourceName>formaicr</ResourceName>
    <ResourceGroup>formai-rg</ResourceGroup>
    <Subscription>Assinatura do Azure 1</Subscription>
    <RegistryUrl>formaicr.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <_TargetId>NetSdkAzureConsoleContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>